/*contenedor principal*/
#item3 {
    display: flex;
    flex-direction: column;
    grid-template-rows: auto auto auto;
    align-items: center;
}

/*Contenedor superior, class="container"*/
#head-controls {
    width: 70%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-columns: auto auto;
}


/*-Elementos de 2º nivel dentro de head-controls-*/
#records-length {
    justify-self: start;
    display: flex;
    align-items: center
}
#nav-buttons {
    justify-self: end;
}
/*-Elementos de 3º nivel dentro de records-length-*/
#count {
    font-size: 16px;  /*el select*/
}
/*-Elementos de 3º nivel dentro de nav-buttons-*/
ul.pagination-keys {  /*Botones de avance y retroceso*/
    padding: 0;
    width: 100%;
}
li.pagei, li.layer-down, li.page-down, li.page-up, li.layer-up {
    display: inline-block;
    height: 36px;
}
a.selected {
    border: 1px rgb(189, 189, 189) solid;
    background-image: linear-gradient(white, rgb(194, 194, 194));
}
a.pagelink {
    /*outline: 1px solid rgb(221, 221, 221);*/
    /*outline: none;*/
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    width: 39px;
    margin-right: 4px;
    text-align: center;
    line-height: 35px;
}
li.page-up:last-child a {
    margin-right: 0;
}
a.pagelink:link, a.pagelink:visited, a.pagelink:focus {
    color: rgb(0, 0, 0);
}
a.pagelink:hover {
    border: 1px rgb(189, 189, 189) solid;
    background: rgb(184, 184, 184);
}
a.pagelink:active {
    background: rgb(134, 134, 134);
}
.disabled {
    pointer-events: none; 
    opacity:0.3;
}
/*-----------------------------------*/


/*Contenedor medio, class="container"*/
#datatable {
    width: 70%;
}

/*-Elementos de 2º nivel dentro de datatable-*/
#tdatos {
    /* margin:0 auto; */
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#tdatos {
    border-collapse: collapse;
}
/*-Elementos de 4º nivel dentro de datatable-*/
th, td {
    padding: 5px;
    border-bottom: 1px rgb(209, 209, 209) solid;
}
tr:hover {
    background-color: rgb(253, 255, 130);
}
tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
}
#metrics {
    text-align:left;
    caption-side: bottom;
}
/*-----------------------------------*/

/*Contenedor inferior, class="container"*/
#foot-controls {
    display: grid;
    grid-template-columns: auto auto;
}
#foot-controls {
    width: 70%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*-Elementos de 2º nivel dentro de foot-controls-*/
#info {
    justify-self: start;
}
/*-----------------------------------*/

/* no se esta usando este elemento por ahora
#search_filter {
    justify-self: end;
tfoot {
    font-weight: bold;
}

}*/