/*contenedor principal de la app*/
#place-for-list, #list-title {
    display: flex;
    flex-direction: column;
}
#title {
    align-self: center;
}
/*-----------------------------------*/

/*Contenedor superior*/
#head-controls {
    align-self: center;
    width: 70%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-columns: auto auto;
}

/*-Elementos de 2º nivel dentro de head-controls-*/
#hc-records-selector {
    justify-self: start;
    display: flex;
    align-items: center
}
#nav-buttons {
    justify-self: end;
}
/*-Elementos de 3º nivel dentro de records-length-*/
#records-to-show {
    font-size: 16px;  /*el select*/
}
/*-Elementos de 3º nivel dentro de nav-buttons-*/
ul.pagination-keys {  /*Botones de avance y retroceso*/
    padding: 0;
    width: 100%;
}
li.pagei, li.layer-down, li.page-down, li.page-up, li.layer-up {
    display: inline-block;
    height: 36px;
}
a.selected {
    border: 1px rgb(189, 189, 189) solid;
    background-image: linear-gradient(white, rgb(194, 194, 194));
}
a.pagelink {
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    width: 39px;
    margin-right: 4px;
    text-align: center;
    line-height: 35px;
}
li.page-up:last-child a {
    margin-right: 0;
}
a.pagelink:link, a.pagelink:visited, a.pagelink:focus {
    color: rgb(0, 0, 0);
}
a.pagelink:hover {
    border: 1px rgb(189, 189, 189) solid;
    background: rgb(184, 184, 184);
}
a.pagelink:active {
    background: rgb(134, 134, 134);
}
.disabled {
    pointer-events: none; 
    opacity:0.3;
}
/*-----------------------------------*/

/*Contenedor medio, class="container"*/
#datatable {
    align-self: center;
    width: 70%;
}

/*-Elementos de 2º nivel dentro de datatable-*/
#tdatos {
    width: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#tdatos {
    border-collapse: collapse;
}

/*------------------------*/
/*títulos de cabecera y pie de la tabla*/
#tr-headers, #tr-foot {
    text-align: center;
}
/*------------------------*/

/*-Elementos de 4º nivel dentro de datatable-*/
#tr-headers > th, #tr-data > td {
    padding: 5px;
    border-bottom: 1px rgb(209, 209, 209) solid;
}

/*alinear los tr de datos en el centro del campo*/
#tr-data {
    text-align: center;
    vertical-align: middle;
}
/*--------------------------------*/

/*--------------------------------*/

#tr-data:hover {
    background-color: rgb(253, 255, 130);
}
#tr-data:nth-child(odd) {
    background-color: rgb(238, 238, 238);
}
/*-----------------------------------*/

/*Contenedores de top-info y bottom-info*/
#top-info, #bottom-info {
    width: 70%;
    align-self: center;
    text-align: left;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#metrics-top, #metrics-bottom {
    color: rgb(109, 109, 109);
    font-size: 13px;
}
#top-info {
    margin-bottom: 10px;
}
#bottom-info {
    margin-top: 10px;
}
/*-----------------------------------*/

/*cuando no hay datos para listar*/
.no-data-found {
    color: red; 
    font-size: 20px; 
    font-weight: bold;     
}

/*Contenedor inferior, class="container"*/
#foot-controls {
    align-self: center;
    display: grid;
    grid-template-columns: auto auto;
}
#foot-controls {
    width: 70%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*-Elementos de 2º nivel dentro de foot-controls-*/
/* #info {
    justify-self: start;
} */
/*-----------------------------------*/