/* #item3 {
    display: flex;
    flex-direction: column;
    grid-template-rows: auto auto auto;
    justify-items: center;
} */
#head-controls {
    width: 70%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    display: grid;
    grid-template-columns: auto auto;
    
}
#records_length {
    justify-self: start;
}
#search_filter {
    justify-self: end;
}
#foot-controls {
    display: grid;
    grid-template-columns: auto auto;
}
#info {
    justify-self: start;
}
#nav-buttons {
    justify-self: end;
}
tfoot {
    font-weight: bold;
}

/*datatable*/
#tdatos {
    /* margin:0 auto; */
    width: 75%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* #tdatos, th, td {
    border: 1px solid;
} */
#tdatos {
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    border-bottom: 1px rgb(209, 209, 209) solid;
}
tr:hover {
    background-color: rgb(212, 255, 209);
}
tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
}
#metrics {
    text-align:left;
    caption-side: bottom;
}

/*Botones de avance y retroceso*/
ul.pagination-keys {
    padding: 0;
    width: 100%;
}
li.pagei, li.layer-down, li.page-down, li.page-up, li.layer-up {
    display: inline-block;
    height: 36px;
}
a.selected {
    border: 1px rgb(189, 189, 189) solid;
    background-image: linear-gradient(white, rgb(194, 194, 194));
}
a.pagelink {
    /*outline: 1px solid rgb(221, 221, 221);*/
    /*outline: none;*/
    border-radius: 4px;
    text-decoration: none;
    display: inline-block;
    width: 39px;
    margin-right: 4px;
    text-align: center;
    line-height: 35px;
}
li.page-up:last-child a {
    margin-right: 0;
}
a.pagelink:link, a.pagelink:visited, a.pagelink:focus {
    color: rgb(0, 0, 0);
}
a.pagelink:hover {
    border: 1px rgb(189, 189, 189) solid;
    background: rgb(184, 184, 184);
}
a.pagelink:active {
    background: rgb(134, 134, 134);
}
.disabled {
    pointer-events: none; 
    opacity:0.3;
}
