ul.pagination-keys {
    padding: 0;
    width: 100%;
}
  
li.pagei, li.pageitem {
    display: inline;
}
  
a.pagelink {
    outline: 1px solid rgb(221, 221, 221);
    text-decoration: none;
    display: inline-block;
    width: 36px;
    margin-right: 2px;
    text-align: center;
    line-height: 36px;
    /* color: black; */
}


li.page-up:last-child a {
    margin-right: 0;
}

  
a.pagelink:link, a.pagelink:visited, a.pagelink:focus {
    /* background: rgb(255, 255, 255); */
    color: rgb(44, 44, 207);
}
  
a.pagelink:hover {
    background: rgb(211, 211, 211);
}
  
a.pagelink:active {
    background: rgb(134, 134, 134);
    color: white;
}