body {
    background-color: rgb(117, 117, 117);
    color: white;
}

#head-controls {
   display: grid;
   grid-template-columns: auto auto;
}
#example_length {
    justify-self: start;
}
#example_filter {
    justify-self: end;
}

#foot-controls {
    display: grid;
    grid-template-columns: auto auto;
}
#info {
    justify-self: start;
}
#nav-buttons {
    justify-self: end;
}

tfoot {
    font-weight: bold;
}

